root {
  font-size: 16px;
}


body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #808080;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

.switch {
  display: flex;
  height: 31rem;
  width: 72rem;
  max-height: 31rem;
  max-width: 72rem;
  position: relative;
}

/*JOY-CON IZQUIERDO*/

.joy-con-left {
  box-sizing: border-box;
  margin-right: 0.5%;
  width: 10.6rem;
  height: 31rem;
  background: rgb(101, 216, 248);
  background: linear-gradient(
    180deg,
    rgba(101, 216, 248, 1) 0%,
    rgba(158,234,255,1) 1%,
    rgba(81, 196, 228, 1) 3%,
    rgba(41, 156, 188, 1) 96.5%,
    rgba(101, 216, 248, 1) 99%
  );
  border-radius: 7rem 0rem 0rem 7rem;
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: end;
}
.joy-con-left-int {
  box-sizing: border-box;
  width: 92%;
  height: 94%;
  background: rgb(101, 216, 248);
  background: linear-gradient(
    180deg,
    rgba(81, 196, 228, 1) 3%,
    rgba(31, 146, 178, 1) 96.5%
  );
  border-radius: 7rem 0rem 0rem 7rem;
  position: relative;
  z-index: 9998;
}

.box-l1 {
  top: -5px;
  left: 6px;
  position: absolute;
  width: 130px;
  height: 400px;
  background-color: #111;
  border-radius: 100px 10px 10px 10px;
}
.box-r1 {
  top: -5px;
  right: 6px;
  position: absolute;
  width: 130px;
  height: 400px;
  background-color: #111;
  border-radius: 10px 100px 10px 10px;
}

.box-minus {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.minus {
  background-color: #111;
  width: 2rem;
  height: 0.8rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.box-joy-stick {
  box-sizing: border-box;
  display: flex;

  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.joy-stick {
  background: linear-gradient(to top right, #111, #60686b);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joy-stick-center {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: linear-gradient(to top right, #111, #60686b);
  border-radius: 50%;
}

.box-buttons {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1.4rem;
}

.button{
    font-family: sans-serif;
    font-weight: 1.4rem;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}



.buttons-top {
  display: flex;
  width: 100%;
  justify-content: center;
}
.buttons-middle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-top {
  box-sizing: border-box;
  background: linear-gradient(to top right, #111, #666);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}
/*----*/
.joy-con-right .button-top:after{
    content:"X";
    align-self: center;
}

.joy-con-left .button-top:after{
    content:"";
    align-self: center;
}


.joy-con-right .button-left:after{
    content:"Y";
    align-self: center;
}

.joy-con-left .button-left:after{
    content:"";
    align-self: center;
}


.joy-con-right .button-right:after{
    content:"B";
    align-self: center;
}

.joy-con-left .button-right:after{
    content:"";
    align-self: center;
}


.joy-con-right .button-bottom:after{
    content:"A";
    align-self: center;
}

.joy-con-left .button-bottom:after{
    content:"";
    align-self: center;
}
/*---*/
.button-left {
  box-sizing: border-box;
  background: linear-gradient(to top right, #111, #666);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.button-right {
  box-sizing: border-box;
  background: linear-gradient(to top right, #111, #666);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.button-bottom {
  box-sizing: border-box;
  background: linear-gradient(to top right, #111, #666);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.box-square-button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: end;
  padding-right: 1.8rem;
}

.square-button {
  box-sizing: border-box;
  background-color: #111;
  width: 2rem;
  height: 0.8rem;
  border-radius: 0.1rem;
  padding: 1rem;
  box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

/* end JOY-CON IZQUIERDO*/

/*PANTALLA*/

.screen-container {
  display: flex;
  height: 31rem;
  width: 60rem;
  background: rgb(66, 74, 77);
  background: linear-gradient(
    180deg,
    rgba(65, 72, 76, 1) 0%,
    rgba(96, 106, 109, 1) 1%,
    rgba(66, 74, 77, 1) 3%,
    rgba(35, 41, 44, 1) 96.5%,
    rgba(65, 72, 76, 1) 99%
  );
  justify-content: space-between;
  align-items: center;
}

.hole-left {
  height: 1.4rem;
  width: 1.2rem;
  background-color: #808080;
  align-self: baseline;
  border-radius: 0px 0px 0.5rem 0px;
}
.hole-right {
  height: 1.4rem;
  width: 1.2rem;
  background-color: #808080;
  align-self: baseline;
  border-radius: 0px 0px 0px 0.5rem;
}

.screen {
  display: flex;
  background-color: #010101;
  height: 96%;
  width: 94%;
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
}

.glass {
  background-color: #282a2e;
  height: 84%;
  width: 86%;
  border-radius: 4px;
}

/*END PANTALLA*/

/*JOY-CON DERECHO*/

.joy-con-right {
  box-sizing: border-box;
  margin-left: 0.5%;
  width: 10.6rem;
  height: 31rem;
  background: rgb(235, 96, 82);
  background: linear-gradient(
    180deg,
    rgba(235, 96, 82, 1) 0%,
    rgba(255,116,102,1) 1%,
    rgba(215, 76, 62, 1) 3%,
    rgba(151, 61, 52, 1) 96.5%,
    rgba(235, 96, 82, 1) 99%
  );
  border-radius: 0rem 7rem 7rem 0rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: start;
}

.joy-con-right-int {
  box-sizing: border-box;
  width: 92%;
  height: 94%;
  background: rgb(235, 96, 82) ;
  background: linear-gradient(
    180deg,
    rgba(215, 76, 62, 1) 3%,
    rgba(141, 51, 42, 1) 96.5%
  );
  border-radius: 0rem 7rem 7rem 0rem;
  position: relative;
  z-index: 9998;
}

.box-plus {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;
}

.plus {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-horizontal {
  background-color: #111;
  width: 2rem;
  height: 0.8rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.plus-vertical {
  position: absolute;
  background-color: #111;
  width: 0.8rem;
  height: 2rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.box-home-button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: start;
  padding-left: 1.8rem;
}

.home-button {
  box-sizing: border-box;
  background-color: #111;
  width: 2.6rem;
  height: 2.6rem;

  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

/*END JOY-CON DERECHO*/
